<div id="about-me" class="container-fluid">
    <h2 class="title">Sobre mí</h2>
    <p class="info"> Soy un amante de la tecnología, siempre busco estar actualizado en las últimas tendencias del desarrollo web y la programación, teniendo a la constancia y la responsabilidad como mis virtudes más representativas. En la actualidad, soy estudiante del Instituto San ignacio de Loyola en la carrera de Desarrollo de Software y mi objetivo laboral principal es convertirme en un agente de cambio que deje huella en el ambiente que se encuentre.</p>
</div>
