
<div class="container-fluid">
    <h2 class="title">Contactame</h2>
    <div class="redes">
        <ul>
            <li><a class="redes-facebook" href="https://www.facebook.com/TeCuidoEnfermera" target="#blank"
                    ><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://wa.me/51936000879" class="redes__container-whatsapp" target="#blank"><i
                    class="fab fa-whatsapp"></i></a></li>
            <li><a href="mailto:tecuido2002@gmail.com" class="redes__container-gmail" target="#blank"><i
                    class="far fa-envelope"></i></a></li>
        </ul>
    </div>
</div>