.container-fluid{
    background-color: #8AA6A1;
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
}

.title{
    margin: auto;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: .8em;
}

.info{
    margin: auto;
    margin-bottom: 2em;
    width: 85%;
    text-align: justify;
    letter-spacing: .025rem;
}

.works{
    margin: auto;
    width: 90%;
    background-color: #FFF;
    border-radius: .25rem;
    margin-bottom: 2em;
}

.title-works{
    background-color: #F2F2F2;
    border-radius: .25rem;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    padding-top: .5em;
    margin-bottom: 1em;
}


.info-works{
    display: flex;
    flex-direction: column;
}

.info-works p{
    text-align: justify;
    margin: auto;
    margin-bottom: 2em;
    width: 85%;
}

.info-works img{
    margin: auto;
    margin-bottom: 2em;
}