<div id="projects" class="container-fluid">
    <h2 class="title">Proyectos</h2>
    <p class="info">Estos son algunos proyectos realizados durante mi desarrollo (Puedes ingresar a la página del proyecto presionando la imagen o el título del proyecto):</p>
    <div class="works">
        <h3 class="title-works">TeCuido</h3>
        <div class="info-works">
            <p>Es un proyecto profesional diseñado para una empresa de salud con diferentes servicios médicos. Está desarrollado con HTML, CSS y JavaScript, además de animaciones que complementan un impacto visual en el usuario.</p> 
            <img src="/assets/images/tecuido.png" alt="Logo de la empresa TeCuido" width="150rem" height="150rem">
        </div>
    </div>
    <div class="works">
        <h3 class="title-works">TruckerFood</h3>
        <div class="info-works">
            <p>Es un proyecto personal el cual no contiene información verídica de una empresa, pues su objetivo está en demostrar el dominio de los lenguajes de desarrollo frontend principales (HTML, CSS y JS), además del framework Angular y la librería Bootstrap. Sumado a ello, el proyecto cuenta con desarrollo backend pues cuenta con una base de datos en la cual se pueden introducir datos que el cliente desee.</p>
            <img src="/assets/images/truckerfood.svg" alt="Logo del proyecto TruckerFood" width="150rem" height="150rem">
        </div>
    </div>
</div>
