<div id="knowledge" class="container-fluid">
    <h2 class="title">Habilidades</h2>
    <p class="info">Durante mi proceso de aprendizaje continuo, he dominado diferentes áreas y servicios del desarrollo web, tanto frontend como backend. Los lenguajes de programación que mejor domino son: </p>
    <h3>Desarrollo frontend</h3>
    <ul>
        <div class="frontend">
            <img src="/assets/images/html-5.svg" alt="" title="HTML">
            <img src="/assets/images/css-3.svg" alt="" title="CSS">
            <img src="/assets/images/javascript.svg" alt="" title="JavaScript">
            <img src="/assets/images/angular-icon.svg" alt="" title="Angular">
            <img src="/assets/images/bootstrap.svg" alt="" title="Bootstrap">
        </div>
    </ul>

    <h3>Desarrollo backend</h3>
    <ul>
        <div class="backend">
            <img src="/assets/images/php.svg" alt="" title="PHP">
            <img src="/assets/images/mysql.svg" alt="" title="MySQL">
        </div>
    </ul>

</div>
